*   {
    margin:0;
    padding:0;
    font-family: roboto, Helvetica, sans-serif;
    
}
html{
    font-size: 18px;
    color: #F9FAF8;
}

h4{
    margin: 0;
}
li{
    list-style: none;
}

ul{
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: center;
}
.dark-top, footer {
    background-color: #1F2937;
    padding: 1rem 15rem;
    flex: 1;
}
#secondary-text {
    color: #E5E7EB;
    font-size: 1rem;
    font-weight: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo{
    font-size: 24px;
}

.intro{
    display:flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 100px;
}
.content{
    display: flex;
    flex:1;
    flex-direction: column;
}
.hero-main{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-text{
    max-width: 60%;
    margin-bottom: 10px;
}

.action-button {
    background-color: #3882F6;
    border: none;
    color:  #F9FAF8;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px 35px;
    max-width: 25%;
}

.action-button:hover{
    background-color: #0f69fa;
}
.title-img{
    object-fit: contain;
}
.info{
    background-color: white;
    padding: 1rem 15rem;
    margin-bottom: 3rem;
    color: #1F2937;
}
.info h2{
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 4rem;
}

.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 9rem;
    text-align: center;
}

.card img {
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.quote-area{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 5rem 15rem;
    display: flex;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.main-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    justify-self: center;
}
.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
}
.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 5rem 15rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    font-size: 1rem;
    border-radius: 10px;
}

.msg h6{
    margin-bottom: 10px;
    font-size: 24px;
}


#inverted{
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    width: 20%;
    height: 50%;
    align-self: center;
}
